# Exported png map (used for coordinates):
resources/images/map*
!resources/images/map.svg

# Project:
.vscode/
# Symbolic link to ../HzgShowAround/cspell.json (tracked there)
cspell.json

# Krita backup files:
*.*~

# Libraries:
scripts/lib/*
!scripts/lib/.info
